{{ define "gin_dynamic_page.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gin Webserver Dynamic Page</title>
</head>
<body>
    <h1>Gin Webserver Dynamic Page</h1>
    <p>Connection ID Value: {{ .headerValue }}</p>
</body>
</html>
{{ end }}
