@page
@model dotnet_app.Pages.ExperimentalDynamicPageModel
@{
    ViewData["Title"] = "ASP.NET Webserver Dynamic Page";
    <h1>ASP.NET Webserver Dynamic Page</h1>
    <p>Experimental-Data Value: @ViewData["headerValue"]</p>
    <p>Random Number: @ViewData["randomNumber"]</p>
    return;
}