html
    head
        title Express Webserver Dynamic Page
    body
        h1 Express Webserver Dynamic Page
        p= 'Experimental-Data Value: ' + headerValue
        p= 'Random Number: ' + randomNumber